<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICalculator">
          <security mode="Message" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:909/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICalculator" contract="WCFSecurityServiceReference.ICalculator"
        name="NetTcpBinding_ICalculator" />
    </client>
  </system.serviceModel>
</configuration>