<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MEPDbConnectionString1" connectionString="Data Source=DESKTOP-3ABOOA3\sqlexpress01;Initial Catalog=MEPDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IMEP" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6789/" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IMEP" contract="ServiceReference1.IMEP"
        name="WSDualHttpBinding_IMEP">
        <identity>
          <userPrincipalName value="DESKTOP-3ABOOA3\Umberto" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>