<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyOrgContext" connectionString="metadata=res://*/MyOrgEdm.csdl|res://*/MyOrgEdm.ssdl|res://*/MyOrgEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3ABOOA3\SQLEXPRESS01;initial catalog=MyOrg;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>