<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStreamService" 
                         messageEncoding="Mtom" 
                         maxReceivedMessageSize="2000000000"
                         />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54325/Service1.svc/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStreamService"
                contract="WcfStreamingServiceReference.IStreamService" name="BasicHttpBinding_IStreamService" />
        </client>
    </system.serviceModel>
</configuration>